.header {
    display: flex;
    position: sticky;
}

.header__image {
    height: 100px;
    width: 100px;
    font-size: 100px;
    color: rgb(3, 77, 102);

} 

.header__left {
    display: flex;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
}